include README.rst
include sbrowser/*.svd
include sbrowser/images/*.jpg
include sbrowser/faces/*

include sbrowser/clips/backgrounds/*.svg
include sbrowser/clips/borders/*.svg
include sbrowser/clips/decorators/*.svg
include sbrowser/clips/headers/*.svg
include sbrowser/clips/misc/*.svg
include sbrowser/clips/schools/*.svg
include sbrowser/clips/students/*.svg
include sbrowser/clips/teachers/*.svg
include sbrowser/clips/*.svg

